*{
    margin:0;
    padding:0;
    box-sizing:border-box; /* for box-model */
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
    
}

.container{
    max-width:100%;
    padding:0px 20px;
    margin:0px auto;
}

.navbar{
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color: #fff;
    height:60px;
    
}

.navbar__brand{
    width:100px;
    
}

.navbar__logo{
    width:100%;
}

.nav__item{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    color:#fff;
    border:none;
    padding:12px;
    border-radius:6px;
    cursor:pointer; /*the arrow changes to hand pointer*/
    transition:0.5s; /* this is for hover pseudo class with background-position as right center which is not working....*/
}

.nav__item:hover {
    background-position:right center; /* change the direction of the change here & THIS PROPERTY IS NOT WORKING...*/
    border:3px solid pink;
}

.hero__image__container{
    width:100%;
    position:relative;
}

.hero__image{
    width:100%;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
    margin-top:20px;
   
}
 
.hero__bgpattern{
    position:absolute;
    
}
.hero__shape{
    position:absolute;
}

.hero__text{
    font-size:30px;
    margin:10px 0px;
}

.button__primary{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    color:#fff;
    border:none;
    padding:12px;
    border-radius:6px;
    cursor:pointer; 
}

.explore__menu__text{
    font-size: 30px;
    margin-top:50px;
    margin-bottom: 25px;
    text-align:center;
}

.food__card__container{
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 15px;
}

.food__card__image{ 
    width:100%;
}

.food__image{
    width:100%;
    border-radius: 6px 6px 0 0; /*top right bottom left*/
}

.food__card__description{
    padding: 15px;
}

@media (min-width:768px) {
    .navbar{
        justify-content: space-between;
        padding:10px 30px;
    }
    .navbar__brand{
        width:150px;
        }
    .navbar__logo{
        width:100%;
        }

    .hero__container{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
        
    }
    .hero__description{
        width:100%;
    }

    .explore__menu__lists{
        display:flex;
        gap:10px;
        margin-top: 50px;
        padding: 30px;
    }

    #pizza-card{
        margin-top:-24px;
        margin-bottom: 35px;
    }

    .explore__menu__button{
        display:flex;
        justify-content: center;
    }

    .explore__menu__gradient__bg{
        position:absolute;
        
        top:0;   /**/
        left:0;  /**/
       
        width:100%;
        height:100%;
        
        background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    z-index: -3;

    transform:skewY(-5deg) /*skewY is -5degrees*/

    }

    .explore__menu__container{
        position: relative;
       
    }


}

@media (min-width:1020px) {
    .navbar__brand{
        width:150px;
    }
    .navbar__logo{
        width:100%;
    }
    .button__primary{
        padding:15px;
        font-size:15px;
    }
    .hero__description{
        width:100%;
    }
    .hero__text{
        font-size:35px;
    }

    .explore__menu__lists{
        gap:30px;
    }


    .container{
        max-width: 900px;
    }
    
    .explore__menu__text{
        font-size: 35px;
    }
}

@media (min-width:1400px){
    .container{
        max-width: 1250px;
    }
}
