*{
    margin:0;
    padding:0;
    box-sizing:border-box; /* for box-model */
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
    
}

.container{
    max-width:100%;
    padding:0px 20px;
    margin:0px auto;
}

.navbar{
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color: #fff;
    height:60px;
    
}

.navbar__brand{
    width:100px;
    
}

.navbar__logo{
    width:100%;
}

.nav__item{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    color:#fff;
    border:none;
    padding:12px;
    border-radius:6px;
    cursor:pointer; /*the arrow changes to hand pointer*/
    transition:0.5s; /* this is for hover pseudo class with background-position as right center which is not working....*/
}

.nav__item:hover {
    background-position:right center; /* change the direction of the change here & THIS PROPERTY IS NOT WORKING...*/
    border:3px solid pink;
}

.hero__image__container{
    width:100%;
    position:relative;
}

.hero__image{
    width:100%;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
    margin-top:20px;
   
}
 
.hero__bgpattern{
    position:absolute;
    
}
.hero__shape{
    position:absolute;
}

.hero__text{
    font-size:30px;
    margin:10px 0px;
}

.button__primary{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    color:#fff;
    border:none;
    padding:12px;
    border-radius:6px;
    cursor:pointer; 
}

@media (min-width:768px) {
    .navbar{
        justify-content: space-between;
        padding:10px 30px;
    }
    .navbar__brand{
        width:150px;
        }
    .navbar__logo{
        width:100%;
        }

    .hero__container{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
    }
    .hero__description{
        width:100%;
    }
}

@media (min-width:1020px) {
    .navbar__brand{
        width:150px;
    }
    .navbar__logo{
        width:100%;
    }
    .button__primary{
        padding:15px;
        font-size:15px;
    }
    .hero__description{
        width:100%;
    }
    .hero__text{
        font-size:35px;
    }

    .container{
        max-width: 900px;
    }
    
}

@media (min-width:1400px){
    .container{
        max-width: 1250px;
    }
}
